@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");

html,
body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Golos Text", sans-serif;
  overflow-x: hidden;
  /* background-color: rgb(90, 90, 90); */
}
