main {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 80px 95fr;
  grid-template-rows: 100px 95fr;
  column-gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  /* background-color: rgb(193, 218, 255); */
}

.add-bookings {
  display: flex;
  align-items: center;
  justify-content: center;
}
