.bookingList {
  width: 100%;
  height: 90vh;
  padding: 2.5rem;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: scroll;
}

.listRow > td {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

td {
  vertical-align: middle;

  height: 80px;
}

.bookingRow button {
  /* width: 50%; */
  padding: 5px;
  justify-self: end;
}

.listDelete {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 5px;
}
