.time {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.time-header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.timeGrid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-top: 10px;
  margin-left: 10px;
}

.time-scale {
  display: grid;
  text-align: center;
}

.time-scale > p {
  margin: 0;
  padding: 0;
  /* border: 2px solid orange; */
}

.time-markers {
  display: grid;
  text-align: center;
  /* border-right: 2px solid grey; */
}

.time-marker {
  margin: 0;
  padding: 0;
  font-size: 0.5px;
  /* height: 2px; */
  /* border-top: 1px solid rgb(194, 194, 194); */
}

.time-markers :nth-child(odd) {
  /* border-top: 2px solid rgb(194, 194, 194); */
  background-color: red;
  height: 2px;
}
.time-markers :nth-child(even) {
  /* border-top: 1px solid rgb(204, 204, 204); */
  background-color: rgb(182, 182, 182);
  height: 2px;
}
