.header {
  /* background-color: rgba(255, 76, 225, 0.551); */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  color: black;
  /* border-bottom: 1px solid grey; */
  column-gap: 5px;
  margin-right: 10px;
  position: sticky;
  top: 0;
  height: 100px;
}

.header * {
  font-size: large;
  /* position: absolute; */
  top: 0;
}

.headerGridColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* border-radius: 0 0 5px 5px; */
  font-size: larger;
  /* border-right: 1px solid grey; */
  background-color: rgb(246, 246, 246);
  text-align: center;
  overflow: hidden;
}

.header * {
  border-radius: 5px;
}

/* .column-5 {
  background-color: rgb(255, 144, 144);
} */
